#data   {
    background-color: #f6f6ef;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff6600;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

table {
    /* height: 100%; */
    width: 100%;
    /*  position: absolute; */
    /* top: 0; */
    bottom: 0;
    left: 0;
    right: 0;
}

#close {
    float: right;
}

.edit-button {
    float: right !important;
    background-color: #ff6600;
    color: white;
}

form {

}

